<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form action="" method = "post">
    {% csrf_token %}
        <p><label for ="{{ form.title.id_for_label }}">Название</label>{{form.title}}</p>
        <p><label for ="{{ form.content.id_for_label }}">Text</label>{{form.content}}</p>
        <p><label for ="{{ form.title.id_for_label }}">Published</label>{{form.is_published}}</p>
        <p><label for ="{{ form.category.id_for_label }}">Cat</label>{{form.category}}</p>
    <button>Send</button>
    </form>
    <img src="{% static 'app/img/4.webp' %}">
</head>
<body>

</body>
</html>